#map {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 50%;
    height: 40rem;
    border-radius: 2rem;
    opacity: 1;
}