.featured-homes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__title {
        font-size: 3.2rem;
        
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-wrap {
            flex-wrap: wrap;
            min-width: 85vw;
            @include respond(tab-port) {
                width: 75vw;
            }
        }
        
    }

    &__section {
        display: flex;
        overflow: hidden;
        border: 1px solid $color-grey-light-2;
        margin-bottom: 2rem;
        
    }

    &__button {
        width: 15rem;
        transition: .2s all;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        @include respond(tab-port) {
            width: 35rem;
            font-size: 2rem !important;
        }
    }
}

.featured-home {
    
    
    &__photo {
        width: 55%;
        overflow: hidden;
        img {
            width: 40rem;
            object-fit: cover;
            transition: 2s all;
            &:hover {
                transform: scale(1.1);
            }
            @include respond(tab-land) {
                width: 30rem;
            }
        }
    }
    &__info {
        width: 43%;
        padding: 2rem 0 0 2rem;
    }

    &__title {
        h5{
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-black;
            margin-bottom: 2rem;
        }     
    }

    &__location {
        display: flex;
        
        img {
            width: 1.7rem;
        }
        h6 {
            font-size: 1.4rem;
            font-weight: 100;
            margin-left: .8rem;
        }
    }

    &__details {
        
        &-flex {
            display: flex;
            &-port {
                @include respond(tab-land) {
                    flex-direction: column;
                    margin-bottom: 0 !important;
                }
                @include respond(tab-port) {
                    padding: 0;
                }
            }
            @include respond(tab-land) {
                margin-bottom: 1.5rem;         
            }
            @include respond(tab-port) {
                margin-bottom: 2rem !important; 
                padding: 0;  
            }
            
            img {
                width: 1.7rem;
            }
            h6 {
                font-size: 1.4rem;
                font-weight: 100;
                margin-left: .8rem;
            }
            .sq-foot-icon {
                width: 2.4rem;
            }
            .sq-foot-info {
                display: flex;
                align-items: center;
            }
        }
    }

    &__price {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 4rem;
        color: $color-black;
        font-size: 2rem;
        @include respond(tab-land) {
            padding-top: 0;  
            font-size: 3rem;
            margin-left: -50%;      
        }
    }
}