.header {
    height: 75vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-black, 0.4), 
        rgba($color-black, 0.7)), 
        url('../../images/hero.webp');
    background-size: cover;
    background-position: 10%, 50%;
    position: relative;
    background-attachment: fixed;

    &__text-box {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
    }

}