.register {
    height: 100vh;
    display: flex;
    @include respond(tab-port) {
        flex-direction: column;   
    }

    &__container {
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(tab-port) {
            width: 100vw;  
        }
    }

    &__login {
        width: 25vw;
        height: 70vh;
        border: 1px solid $color-grey-light-2;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        h3 {
            font-size: 2rem;
            color: $color-black;
        }
        @include respond(tab-land) {
            width: 35vw;   
        }
        @include respond(tab-port) {
            width: 90vw;
            height: 50vh;
            margin-top: 12vh; 
            margin-bottom: 5vh;
        }
        @include respond(phone) {
            width: 95vw;
            height: 58rem;
        }
    }

    &__image {
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-black, 0.4), 
            rgba($color-black, 0.7)), 
            url('../../images/registerImage.webp');
        width: 60vw;
        background-size: cover;
        background-position: 10%, 50%;
        @include respond(tab-port) {
            width: 100vw; 
            height: 35vh; 
        }
        @include respond(phone) {
            height: 30vh;
        }
    }
}