.dashboard__side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(tab-port) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5rem;
    }
    @include respond(phone) {
        padding: 0 3rem;
    }
}

.sidebar {

    &__user {
        height: 40vh;
        display: flex;
        align-items: center;
    }

    &__sections {
        ul {
            @include respond(tab-port) {
                display: flex;
                justify-content: space-between;
            }
        }
        @include respond(tab-port) {
            width: 35vw;
        }
        @include respond(phone) {
            width: 50vw;
        }
    }

    &__links {
        &,
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
            font-size: 1.8rem;
        }
    }
}